.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 0px 20px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 8vh;
}

.app__pageNo {
  font-size: 1.2rem;
  font-weight: 500;
}

.app__button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px 30px;
  background: #56bd66;
  border-radius: 5px;
  font-size: 1.2em;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.user__table {
  width: 100%;
  height: 82vh;
  background-color: #495464;
  border-radius: 10px;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.user__title {
  height: 5%;
  width: 100%;
  display: flex;
}

.user__cn {
  width: 28%;
  padding-left: 5px;
  color: white;
  box-sizing: border-box;
}

.user__da {
  width: 28%;
  padding-left: 5px;
  color: white;
  box-sizing: border-box;
}

.user__pn {
  width: 13%;
  padding-left: 5px;
  color: white;
  box-sizing: border-box;
}

.user__os {
  width: 12%;
  padding-left: 5px;
  color: white;
  box-sizing: border-box;
}

.user__dummy {
  width: 19%;
  padding-left: 20px;
  color: white;
  box-sizing: border-box;
  display: flex;
}

.user__leftArrow {
  height: 25px;
  transform: rotate(180deg);
  cursor: pointer;
}

.user__pageNo {
  margin: 0 20px;
}

.user__rightArrow {
  height: 25px;
  cursor: pointer;
}

.user__list {
  overflow-y: auto;
  height: 92%;
}

.user__title1 {
  height: 50px;
  margin: 5px 0px;
  padding: 5px 0px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
}

.user__cn1 {
  width: 28%;
  padding-left: 5px;
  box-sizing: border-box;
}

.user__da1 {
  width: 28%;
  padding-left: 5px;
  box-sizing: border-box;
}

.user__pn1 {
  width: 13%;
  padding-left: 5px;
  box-sizing: border-box;
}

.user__os1 {
  width: 12%;
  padding-left: 5px;
  box-sizing: border-box;
}

.user__dummy1 {
  width: 19%;
  padding-left: 20px;
  box-sizing: border-box;
}

.user__editIcon {
  padding-left: 15%;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px 30px;
  background: #56bd66;
  border-radius: 5px;
  font-size: 1.2em;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal__modal {
  margin-top: 200px;
  margin-bottom: 100px;
  width: 600px;
  height: max-content;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  position: relative;
}

.modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  width: 20 px;
  height: 20px;
}

.modal__close:hover {
  opacity: 0.7;
}

.modal__input {
  all: unset;
  border: 1px solid #ccc;
  height: 35px;
  border-radius: 10px;
  width: 500px;
  margin-bottom: 15px;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
}

.modal__selectDiv {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 15px;
}

.modal__select {
  all: unset;
  border: 1px solid #ccc;
  height: 35px;
  border-radius: 10px;
  width: 200px;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  box-sizing: border-box;
}

.modal__option {
  height: 35px;
}

.modal__footer {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.modal__button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
  background: #56bd66;
  border-radius: 5px;
  font-size: 1.2em;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
